/* PC */

@media(min-width : 62rem) {

    .nav {
        padding: 0.5rem 2.5rem;
    }
    .nav__menu {
        display: flex;
        justify-content: space-between;
        flex: 1;
        height: auto;
        padding: 0 0.9375rem;
    }

    .nav__left {
        display: none;
    }

    .nav__right {
        display: flex;
        align-items: center;
    }
    .nav__item,
    .nav__icon {
        padding: 1rem;
        list-style: none;
        color: #011E41;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .nav__link {
        text-decoration: none;
        color: #011E41;
    }
    .product {
        padding: 0 2.5rem;
        display: flex;
        justify-content: space-between;

    }
    .product__img {
        width: 2.875rem;
        height: 4rem;
    }
    .product__icon {
        display: inline;
        padding: 0.1rem;
        font-size: 0.75rem;
        border: 0.063rem solid #011E41;
        border-radius: 0.125rem;

    }
    .product__reviews {
        font-weight: 500;
    }
    .product__left {
        display: flex;
        align-items: center;
    }
    .product__gift {
        margin-left: 1.563rem;
    }
    .product__text {
        padding: 0.3rem 0;
    }
    .product__heading {
        font-weight: 200;
    }
    .product__prince {
        font-size: 1rem;
        color: #011E41;
        padding: 1.1rem 1.25rem;
        margin-right: 0;
    }
    .benerfit__infor {
        display: inline-flex;
        padding-left: 10px;
    }


    .product__list {
        margin: 0 1.9rem;
        display: flex;
        justify-content: flex-end;
    }
    .benerfit {
        display: flex;
        align-items: center;
        height: 5.5rem;
        margin: 0 2.5rem;
        justify-content: space-around;
    }
    .benerfit__item {
        margin-left: 1.2rem;
        align-items: center;
    }
    .benerfit__infor {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 0.5rem;
        display: block;
        margin-left: 0.5rem;
    }
    .benerfit__content {
        font-size: 0.875rem;
        font-weight: 600;
    }

    .slide {
        height: 35rem;
    }
    .slide__img {
        height: 35rem;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .slide__next {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -5%);
    }
    .slide__prev {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%)
    }

    .slide__play {
        position: absolute;

        left: 12%;
        top: 25%;
        transform: translate(-10%, -25%);

    }
    .slide__text {
        position: absolute;
        bottom: 0;
        top: 12.594rem;
        left: 7.75rem;
        right: 52.25rem;
        background: rgba(0, 0, 0, 0);
        color: #f1f1f1;
        width: 25rem;
        height: 22.313rem;
    }

    .slide__line {
        font-size: 0.875rem;
        line-height: 140%;
    }
    .slide__dot {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -90%);
    }


    .feature__row {
        font-size: 1rem;
        height: 12rem;
    }
    .specification {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

    }
    .specification__img {
        order: 3;
        margin: 0;

    }

    .specification__title {}
    .specification__list {}
    .specification__item {}
    .specification__second {
        justify-content: space-around;
        flex-direction: row;

    }
    .conten {
        margin-bottom: 24px;
    }

    .specification__content {
        order: 1;
    }
    .specification__third {}
} /* Mobile */
@media(max-width : 62rem) {

    .nav__right,
    .product__left,
    .benerfit__text,
    .slide__prev,
    .slide__next,
    .slide__icon-dot {

        display: none;
    }


}
