* {
    box-sizing: border-box;
}
@font-face {
    font-family: Electrolux Sans;
    font-style: normal;
    font-weight: 500;
    src: url('/dist/sparepart/fonts/ElectroluxSans-Regular.eot#iefix') format("embedded-opentype"), url('/dist/sparepart/fonts/ElectroluxSans-Regular.woff2') format("woff2"), url('/dist/sparepart/fonts/ElectroluxSans-Regular.woff') format("woff"), url('/dist/sparepart/fonts/ElectroluxSans-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: Electrolux Sans;
    font-style: normal;
    font-weight: 600;
    src: url('/dist/sparepart/fonts/ElectroluxSans-Semibold.eot#iefix') format("embedded-opentype"), url('/dist/sparepart/fonts/ElectroluxSans-Semibold.woff2') format("woff2"), url('/dist/sparepart/fonts/ElectroluxSans-Semibold.woff') format("woff"), url('/dist/sparepart/fonts/ElectroluxSans-Semibold.ttf') format("truetype");
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: ElectroluxVN, Electrolux Sans, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #011e41;
    font-size: 1rem;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.25rem;
    padding: 0 1.188rem;
    background-color: #ffffff;
    box-shadow: 0 1px 0 #DFE7EA;
}
.benerfit__img {
    height: 64px;
    width: 46px;
    left: 9px;
    top: 0;

}
.nav__link {
    padding: 0.5rem;
    color: #011e41;
}

.product {
background: #EAEEF2;


    font-weight: 600;
    line-height: 17px;
    height: 5.875rem;
}

.product__right {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    justify-content: space-between;
    height: 5.5rem;
}
.product__prince {
    font-size: 1.25rem;
    color: #011E41;
    padding: 0.625rem 0.313rem;

}
/* .product__second,
.product__list,
.product-item {

    display: inline-block;
    list-style: none;
    padding: 15px 5px;
    margin: 0 25px;
    position: relative;
}

.product__second,
.product__list,
.product-item,
.product-link {

    text-decoration: none;
    color: #b7e7f6;
}
.product__second,
.product__list,
.product-item ::after {
    content: "";
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}
.product__second,
.product__list,
.product-item:hover::after {

    background: #011E41;

} */
.product__second {
    background-color: #DFE7EA;
    height: 2.313rem;

}
.product-item {
    list-style: none;
    padding: 0 0.5rem;
}
.product__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.product-link {
    text-decoration: none;
    color: #011e41;
}
.product__cart {
    background: #011E41;
    color: #FFFFFF;
    padding: 1.188rem 1.25rem;
    border-radius: 0.125rem;
}
.benerfit {
    display: block;
}
.benerfit__item {
    display: flex;
    align-items: center;
}
.benerfit__infor {
    display: flex;
}
.slide {
    position: relative;
}
.slide__img {
    height: 13.75rem;
    width: 100%;
}
.slide__play {
    position: absolute;
    top: 5.75rem;
    left: 50%;
    transform: translate(-50%);

}
.slide__text {
    position: static;
    color: #011e41;
    top: 7.5rem;
    left: 9.375rem;
    background: rgba(0, 0, 0, 0);
    padding: 0 1.563rem;
}
.slide__title {}
.slide__paragrap {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.slide__line {
    font-style: italic;
    font-weight: normal;
    font-size: 0.813rem;
    margin: 1.5rem 0;
}
.slide__dot {
    position: relative;
    left: 50%;
    color: blue;
    transform: translate(-50%);

}
.features {
    background: #DFE7EA;
}
.features__content {
    font-size: 2rem;
    line-height: 1.214rem;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}
.feature__row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(1, 30, 65, 0.1);
    height: 24rem;
    font-weight: 200;
}
.feature__item {
    max-width: 50%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.1rem 1.25rem;
    border: 1px solid rgba(1, 30, 65, 0.1);
    text-align: center;
    height: 3.75rem;

}
.specification {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.content-catenory {
    list-style-type: none;
    border-top: 1px solid #333;
    padding: 0;
    font-weight: 600;
    line-height: 26px;
    margin: 1rem 0;

    font-size: 1.3rem;

}
.complementary__title,
.specification__title {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 5.313rem 0 2.188rem;

}

.specification__img {
    margin: 0 auto;
    order: 1;
}
.conten {
    margin-bottom: 24px;
}
.content-dowload {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #011e41;
} 
li {
    margin-top: 0.5rem ;
}
.content-manual-download{
    list-style-type: none;
    padding: 0;
    font-weight: 600;
    line-height: 1.625rem;
    margin: 1rem 0;
    font-size: 1.3rem;
}
.specification-title {
    font-weight: 500;
    margin-bottom: 0.5rem;

}
.specification__list {}
.specification__item {}

.specification__content {
    order: 3;

}
.specification__second {
    display: flex;
    flex-direction: column;
}


.specification__third {
    display: flex;
    justify-content: center;
   

}
.specification__open {}
